@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  font-size: 1.125rem;
  text-align: right;
}

#brand-logo {
  width: 60px;
  height: 60px;
}

span.navbar-text {
  margin: auto;
  color: #000000 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Hero image */

#home-header {
  background: url('/static/images/woman.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
}

.main-heading {
  margin-top: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 0.07rem 0.07rem #fafafa;
}

/* News page */
#news-header {
  background: url('/static/images/news.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.25rem 0.25rem 0.8rem #343a40;
}

#timer-header {
  background: url('/static/images/brain-green.jpg') no-repeat center;
  background-size: cover;
  height: 54rem;
}
.timer-overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: #b7a90c;
  mix-blend-mode: overlay;
}
.wave {
  border-radius: 56% 44% 69% 31% / 43% 56% 44% 57% ;
}
.section-heading {
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.article-image {
  height: 50%;
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.post .article-header {
  margin-bottom: 0.94rem;
}

.article-post {
  width: 85%;
  margin-bottom: 4rem;
}

.article-post .article-content {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 1.875rem;
  position: relative;
  background: #fff;
  margin-top: -4.68rem;
}

.article-post .article-overlay {
  position: relative;
  left: 1.35rem;
  margin-bottom: 0;
}

.article-post .article-overview p:last-of-type {
  margin-bottom: 0;
}

.article-post .article-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 0.94rem;
  margin-top: 1.25rem;
}

.card-img-top {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-card-title a {
  color: #439B94;
}

.footer-link>a {
  color: #56C3D4;
}

.article-post .article-footer .footer-meta a i {
  font-size: 1rem;
  margin-left: 0.125rem;
}

.article-link {
  color: #439B94;
}

.article-link:hover {
  color: #2f7f79;
}


/* Footer */
footer {
  background-color: #2DA6b4;
  width: 100%;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, .footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.para-center {
  padding-top: 3rem;
}

/* Error pages */
/* 404 page - inspiration taken from https://codepen.io/ricardpriet/pen/MOKEam */
.error-container {
  text-align: center;
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background-color: #EFFAFB;
}

.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}

.error-container > span > span {
  display: inline-block;
  position: relative;
}

.error-container > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #2DA6B4;
}

.error-container > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #D15C95;
}

.error-container > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}

@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

.error-button {
  background-color: #3BBFCE;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/*Gaff's layout*/
.sign-out-icon {
  color: #3BBFCE !important;
}

/* Media Queries */
/* Display on tablet devices */ 
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {}
  
/* Timer */
.icon {
  color: #3BBFCE;
  cursor: pointer;
}
.video {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
  min-height: 100%;
}

/* APP */
.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "a a a a s s s s s"
  "a a a a s s s s s" 
  "d d d d s s s s s" 
  "d d d d s s s s s";

  transition: opacity 500ms ease-in-out;
}
.inactive {
  opacity: 0;
}

/* AUDIO */
.audio {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio img {
  width: 50px;
  cursor: pointer;
}
.audio .progress {
  width: 223px;
  height: 228px;
  position: relative;
  margin: 0 40px;
  padding: 13px;
}
.audio .progress svg {
  width: 200px;
  height: 200px;

  transform: rotate(45deg);

  position: absolute;
  z-index: -1;
}
.audio .progress .audio-remaining-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-family: "Segoe UI",sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* DURATIONS */
.durations {
  grid-area: d;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 25%;
}
.durations .duration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.durations .duration img {
  width: 75px;
  cursor: pointer;

  filter: drop-shadow(0px 0px 15px #222);
}
.durations .duration p {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;

  color: #fff;

  margin-top: 5px;

  text-shadow: 0 0 15px #222;
}
/* SEASONS */
.seasons {
  grid-area: s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 13rem;
  margin-right: 3rem;
}

.seasons .season img {
  width: 75px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #222);
}

/* TOGGLE MENU */
.toggle-menu {
  display: none;
}

.progress {
  background-color: transparent!important;
}
  
/* FOR SMALL SCREENS */
@media only screen and (min-width: 320px) and (max-width: 823px){
  /* VIDEO */
  .video video {
      height: 100%;
  }

  /* APP */
  .app {
      grid-template-areas:
            "a"
            "a" 
            "a"
            "d";
  }
  .progress {
    background-color: transparent!important;
  }
  /* AUDIO */
  .audio {
    margin-right: 24px;
  }
  .audio .progress {
    width: 193px;
    height: 190px;
    margin: 0 10px;
    padding: 12px;   
  }
  .audio .play img,
  .pause img {
      width: 40px;
  }
  .audio .progress svg {
      width: 175px;
      height: 175px;
      
  }
  .audio .progress .rect1,
  .rect {
      width: 125px;
      height: 125px;
  }
  .audio .progress .audio-remaining-time {
      font-size: 1.75rem;
  }

  /* DURATIONS */
  .durations {
      padding: 0 10%;
      margin-right: 15px;
  }
  .durations .duration img {
      width: 60px;
  }
  .durations .duration p {
      font-size: 1rem;
  }

  /* SEASONS */
  .seasons {
      position: absolute;
      top: 20%;
      font-size: 14px;
      left: -215px;
      flex-direction: row;

      background-color: #4A8493;

      border-radius: 0 5px 5px 0;

      transition: left 500ms ease-in-out;
  }
  .open {
      left: 0;
  }
  .seasons .season {
      margin-left: 10px;
  }
  .seasons .season img {
      width: 50px;
      filter: none;
  }

  /* TOGGLE MENU */
  .toggle-menu {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 5px;

      margin-left: 10px;
    
      border-radius: 50%;

      transition: all 500ms ease-in-out;
  }
  .rotate {
      transform: rotate(180deg);
  }
  .toggle-menu:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }
  .toggle-menu img {
      width: 20px;
  }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {
    .error-container {
      text-align: center;
      font-size: 11.25rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      background-color: #EFFAFB;
    }

    #button-block {
      margin-top: -9rem;
    }

    .main-heading {
      margin-top: 14rem;
      font-size: 3rem;
      font-weight: 500;
    }

    .section-heading {
      font-size: 2.1rem;
      margin-top: 6rem;
  }

  }

/* LOGIN PAGE */
.modal {
  top: 20%;
}
.modal-content {
  background: #4a849373!important;
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgb(0 0 0 / 10%);
}
.btn-check:focus+.btn, .btn:focus {
  box-shadow:none;
}

/* Home page card's styling */
.card {
  background-color: transparent!important;
  margin: 56px 0;
}
.card-body {
  background-color: transparent!important;
}





/*Resources Page styling*/

#resources-background {
  background: url('/static/images/hero-image.jpg') no-repeat center;
  background-size: cover;
  
}


#resources-header {
  background-color: #4a8493;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 40%;
}

#card-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#resources-row-1 {
  columns: 5;
  /*margin-bottom: 30px;*/
}

#resources-row-2 {
  columns: 4;
  /*margin-bottom: 20px;*/
}

.col-sm-6 {
  width: 100%;
  padding: 20px;
  min-height: 300px;
}

.box {
  background: #4A8493;
  padding: 20px;
  border-radius: 30px;
}

@media screen and (max-width: 1700px) {
  #resources-header {
    width: 45%;
  }

  
}

