@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

#brand-logo {
  width: 60px;
  height: 60px;
}

/* Hero image */

#home-header {
  background: url('/static/images/hero-image.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
}

.main-heading {
  margin-top: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

/* Footer */
footer {
  background-color: #4A8493;
  width: 100%;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, .footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.para-center {
  padding-top: 3rem;
}

/* Media Queries */

/* Timer */
.icon {
  color: #17233D;
}

.timer-icon {
  height: 70px;
  width: 70px;
}

.video {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
  min-height: 100%;
}

/* APP */
.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "a a a a s s" "a a a a s s" "d d d d s s" "d d d d s s";

  transition: opacity 500ms ease-in-out;
}
.inactive {
  opacity: 0;
}

/* AUDIO */
.audio {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio img {
  width: 50px;
  cursor: pointer;
}
.audio .progress {
  width: 200px;
  height: 200px;

  position: relative;

  margin: 0 40px;
}
.audio .progress svg {
  width: 200px;
  height: 200px;

  transform: rotate(45deg);

  position: absolute;
  z-index: -1;
}
.audio .progress .audio-remaining-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-family: "Segoe UI",sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* DURATIONS */
.durations {
  grid-area: d;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 25%;
}
.durations .duration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.durations .duration img {
  width: 75px;
  cursor: pointer;

  filter: drop-shadow(0px 0px 15px #222);
}
.durations .duration p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;

  color: #fff;

  margin-top: 5px;

  text-shadow: 0 0 15px #222;
}
/* SEASONS */
.seasons {
  grid-area: s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40% 0;
}
.seasons .season img {
  width: 75px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #222);
}

/* TOGGLE MENU */
.toggle-menu {
  display: none;
}

/* FOR SMALL SCREENS */
@media screen and(max-width: 600px) {
  /* VIDEO */
  .video video {
      height: 100%;
  }

  /* APP */
  .app {
      grid-template-areas: "a" "a" "a" "d";
  }
  .progress {
    background-color: transparent!important;
  }
  /* AUDIO */
  .audio .progress {
      width: 175px;
      height: 175px;

      margin: 0 10px;
  }
  .audio .play img,
  .pause img {
      width: 40px;
  }
  .audio .progress svg {
      width: 175px;
      height: 175px;
      
  }
  .audio .progress .rect1,
  .rect {
      width: 125px;
      height: 125px;
  }
  .audio .progress .audio-remaining-time {
      font-size: 1.75rem;
  }

  /* DURATIONS */
  .durations {
      padding: 0 10%;
  }
  .durations .duration img {
      width: 60px;
  }
  .durations .duration p {
      font-size: 1rem;
  }

  /* SEASONS */
  .seasons {
      position: absolute;
      top: 20px;
      left: -250px;
      padding: 5px;

      flex-direction: row;

      background-color: #fff;

      border-radius: 0 5px 5px 0;

      transition: left 500ms ease-in-out;
  }
  .open {
      left: 0;
  }
  .seasons .season {
      margin-left: 10px;
  }
  .seasons .season img {
      width: 50px;
      filter: none;
  }

  /* TOGGLE MENU */
  .toggle-menu {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 5px;

      margin-left: 10px;

      border-radius: 50%;

      transition: all 500ms ease-in-out;
  }
  .rotate {
      transform: rotate(180deg);
  }
  .toggle-menu:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }
  .toggle-menu img {
      width: 20px;
  }
}