{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h3 class="text-center text-uppercase my-3 header-style" >Register</h3>
<form method="POST" novalidate class="form">
    {{ form.hidden_tag() }}

    <div class="field_top_padding">
    
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="row">
                <div class="input-field col s12">
                    <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                    {{ field(class_='form-control') }}
                   
                    {% if field.errors %}
                    {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        {{ render_field(form.email) }}
        {% endif %}

        {{ render_field(form.password) }}

        {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
        {{ render_field(form.retype_password) }}
        {% endif %}

        <div class="button_top_padding  d-flex justify-content-center">
            <button class="btn btn-outline-info wave text-uppercase mt-3" type="submit" name="action">Register</button>
        </div>
    </div>
</form>
<br>
{% if user_manager.USER_ENABLE_REGISTER %}
<p><a class="font-style-link" href="{{ url_for('user.login') }}">Already registered? Sign in.</a></p>
{% endif %}
{% endblock %}