{% extends "flask_user_layout.html" %}

{% block content %}
<section class="container-fluid error-container">
  <span>
    <span>4</span>
  </span>
  <span>0</span>
  <span>
      <span>4</span>
  </span>
  <div>
    <h5 class="my-5 error-sub-heading text-center">
        Woops! Looks like you took a wrong turn.
    </h5>
    <div id="button-block">
      <a href="#" class="btn-lg error-button border-0 rounded-1 text-uppercase 
      text-center my-2">
      <i class="fas fa-home mr-1 text-uppercase"></i>&nbsp;Back&nbsp;Home
      </a>
    </div>
  </div>
</section>
{% endblock %}