{% extends "flask_user_layout.html" %}

{% block content %}
    <!-- Hero section -->
    <div id="home-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 my-auto">
                    <h1 class="main-heading text-uppercase mt-5 mb-3">
                        Welcome to Mindful Timer!
                    </h1>
                    <h3 class="sub-heading">
                        Mindful ...
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}