{% extends "flask_user_layout.html" %}
{% block content %}

<h1 class="center-align">Log In</h1>

<section id="hero-image-login">
    <div class="container-fluid">
        <div class="row">
            <form class="col" method="POST" action="{{ url_for('login') }}">
                <!--username or email-->
                <div class="mb-3">
                    <label for="username" class="form-label">Username or Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <!--password-->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{8,20}$" class="validate" required>
                </div>
                <button type="login" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}