{% extends "flask_user_layout.html" %}

{% block content %}

<div id="resources-background">

    <div id="resources-container">

        <h1 id="resources-header">
            Mindfulness and Wellbeing resources
        </h1>

        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 1</a> <!--Change aria once I can think straight, and add href attribute values. -->
        </div>

        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 2</a>
        </div>
        
        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 3</a>
        </div>
        
        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 4</a>
        </div>
        
        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 5</a>
        </div>
        
        <div class="resources-link">
            <a href="#" target="_blank" rel="noopener" aria="something-or-other">Link 6</a>
        </div>

    </div>

</div>

{% endblock %}
