{% extends "flask_user_layout.html" %}

{% block content %}

<div id="resources-background" class="text-white">

    <h1 id="resources-header" class="text-white">
        Mindfulness and Wellbeing resources
    </h1>

    <div id="card-container">

        <div class="box">
            <div class="box-body">
                <h5 class="box-title">The NHS</h5>
                <p class="box-text">
                    Britain's National Health Service has increasingly recognised the importance of mindfulness and mental well-being in recent years
                </p>
                <a href="https://www.nhs.uk/mental-health/self-help/tips-and-support/mindfulness/" aria-label="Visit the NHS Website" class="btn btn-primary">
                    Visit the NHS website
                </a>
            </div> 
        </div>
    

        <div class="box">
            <div class="box-body">
                <h5 class="box-title">The Human Condition</h5>
                <p class="box-text">The Human Condition is a digital platform for mental health, personal growth and wellness, with a wide variety of resources</p>
                <a href="https://thehumancondition.com/" class="btn btn-primary">Visit The Human Condition</a>
            </div>
        </div>
    

        <div class="box">
            <div class="box-body">
                <h5 class="box-title">Active Wellness</h5>
                <p class="box-text">Active Wellness runs a blog exploring fitness and nutrition, which are as important in wellbeing as mental health</p>
                <a href="https://www.activewellness.com/blog" class="btn btn-primary">Visit Active Wellness</a>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">Mindful</h5>
            <p class="box-text">
                Mindful is a blog with articles concerning love, meditation, sleep, compassion and anxiety
            </p>
            <a href="https://www.mindful.org/" class="btn btn-primary">Visit Mindful</a>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">Additude</h5>
            <p class="box-text">
                Additude is a blog primarily concerning folks with ADHD and similar conditions, who may particularly struggle with maintaining their mindfulness and wellbeing
            </p>
            <a href="https://www.additudemag.com/" class="btn btn-primary">Visit Additude</a>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">The Oxford Mindfulness Centre</h5>
            <p class="box-text">
                The Oxford Mindfulness Centre's mission is to reduce suffering, promote resilience and realise human potential. They run online sessions and courses
            </p>
            <a href="https://www.oxfordmindfulness.org/" class="btn btn-primary">Visit the Oxford Mindfulness Centre</a>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">The Free Mindfulness Project</h5>
            <p class="box-text">The Free Mindfulness Project is a growing collection of free-to-download mindfulness amd meditation exercises</p>
            <a href="https://www.freemindfulness.org/welcome" class="btn btn-primary">Visit The Free Mindfulness Project</a>
            </div>
        </div>
    

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">The Wellness Society</h5>
            <p class="box-text">
                The Wellness Society offers self-help, therapy, and coaching tools, and is recommended by the NHS, MIND and the Royal College of Nursing
            </p>
            <a href="https://thewellnesssociety.org/" class="btn btn-primary">Visit The Wellness Society</a>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
            <h5 class="box-title">Mindfulness for Teens</h5>
            <p class="box-text">
                Mindfulness for Teens is a blog directed specifically at teenagers and young people, who have often not developed the tools to deal with the stress of life
            </p>
            <a href="http://mindfulnessforteens.com/" class="btn btn-primary">Visit Mindfulness for Teens</a>
            </div>
        </div>

    </div>

</div>

{% endblock %}
